{% extends 'common/base.html' %}
{% load static %}

{% block title %}
    AI Blog APP | Home
{% endblock %}

{% block css %}
<style>
    body{
        background-color:#f5f5f5;

    }
    
    .main-area{
        display: flex-col;
        align-items: left;
        padding: 20px;
        background: #e8e8e8;
        min-height:76vh;
    }

    .userfeed{
        width: 100%;
        max-width: 500px;
        margin: auto;
        margin-top: 40px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
    }
    .hidden{
        display: none !important;
    }
    .white{
        background: #fff;
    }

    .content{
        padding: 0 18px;
    }

    h1{
        font-size:2rem !important;
    }
</style>
{% endblock %}

{% block body%}
<div class="main-area">
    <div class="container-fluid mt-2 mb-5">
    {% if audios %}
        {% for audio in audios %}
            <div class="my-4 p-3 white shadow" style="width: 75%; margin: 10px auto; border-radius:5px;">
                <div class="title d-flex justify-content-between">
                    <h3>{{audio.summary|slice:":15"}}...</h3>
                    <div class="controls">
                        <a href={{ audio.get_absolute_url }} class="btn btn-primary"><i class="fa-brands fa-readme"></i></a>
                        <a href={% url 'audio-delete' audio.pk %} class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>

                <div style="background: #9e9d9d; height:2px; width:100%; margin: 10px 0"></div>
                <div>
                    <audio controls>
                        <source src="{{audio.audio.url}}" type="audio/ogg">
                        <source src="{{audio.audio.url}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <h4>Your Summary</h4>
                <div class="content">
                    {{audio.summary}}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 style="text-align:center">You haven't analyzed any audio yet.</h2>
    {% endif %} 
    </div>

</div>

{% endblock %}

{% block js %}
    <script>

        const content_list = document.getElementsByClassName("content");
        console.log(content_list);
        for (let obj of content_list){
            let content = obj.innerHTML.trim();
            console.log(content, content.length, content.length>400);
            if (content.length > 400){
                obj.innerHTML = content.substring(0, 397)+'...';
            }
        }

    </script>
{% endblock %}